<h2>New Comment</h2>
<form>
	
	<label for="restaurant_comment">Comment</label>
	<textarea id="restaurant_comment" name="restaurant[comment]" rows="8" cols="40" placeholder="Enter comment..."></textarea>

	<input type="submit" name="Submit">
</form>