button.current-location {
  margin-bottom: 5px;
}
input.zipcode {
  margin-bottom: 5px;
}
form.find-location {
  margin: 30px;
}
div.container.signin{
  position: absolute;
  top: 65px;
  width: 100%;
}
